<a href="https://colab.research.google.com/github/21pa1a6128/DWM-lab/blob/main/operations_on_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

In [10]:
df=pd.read_csv('/content/drive/MyDrive/students_placement_data.csv')

In [11]:
#Q1 basic characteristics of the data

df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,116.000000,117.000000
mean,59.000000,80.153362,80.535299,62.662672,4.111111
std,33.919021,9.462320,11.818567,12.591167,6.335148
min,1.000000,44.000000,40.200000,21.200000,0.000000
25%,30.000000,75.875000,73.400000,54.175000,0.000000
50%,59.000000,82.745000,83.600000,63.885000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [12]:
# Q2 check if there is any missing value in datasdets
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                      True
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [49]:
#Q3 deal with na values
df['SSC Percentage']=df['SSC Percentage'].fillna(np.mean(df['SSC Percentage']))
df['B.Tech_percentage']=df['B.Tech_percentage'].fillna(np.mean(df['B.Tech_percentage']))

In [60]:
#Q4 find the mean of SCC Percentage
'the mean of scc percentage is :'+str(df['SSC Percentage'].mean())

'the mean of scc percentage is :80.15336206896552'

In [57]:
#Q5

NameError: ignored